body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #222;
  color: #fff;
  overflow: hidden;
}
#ascii-art {
  white-space: pre;
  text-align: center;
}
